[2016-02-15 15:47] ghost opened #1 "Volunteers!"
We need volunteers!

For the moment: Website frontend is covered.
- We will need content mirrors, and helpers to administrate where needed.
- Community ambassadors, for both mod makers and mod users.

[2016-02-15 15:49] EIREXE commented on #1
I'm already preparing the server for VITAS.

[2016-02-15 15:53] ghost opened #2 "Data Mirroring"
- Who?
- How?

[2016-02-15 15:55] bookt-jacob commented on #2
S3 for storage w/ Cloudfront for CDN?  Long expiration in CDN should be very effective.  Having the data at rest in S3 reduces HTTP requests to the backend servers and should prove much simpler than mirrors.

[2016-02-15 15:57] ghost commented on #2
The upside of using mirrors is, though, that we can defray hosting costs.

Our budget so far is $0.

[2016-02-15 16:16] pjf commented on #1
I need to check how much, but the KSP-CKAN has some hosting credits we can throw at medium-term (up to a year) hosting of mods. It's always been our plan to use them for this purpose as part of KSP-CKAN/CKAN#935, but obviously it makes sense for us to accelerate that now. I'm looking at getting the existing KS mods loaded into buckets ASAP to minimise user outages with the CKAN.

Longer-term I _ma

[2016-02-15 16:18] ghost commented on #1
That sounds good, at least while we get everything up and running.

Would you mind me adding you to what will be the "hosting" team for spacedock?

[2016-02-15 16:19] StollD commented on #1
I will volunteer, definitly.

I have decent experience with HTML, CSS and Python, so I will be able to add features to the new site, when needed. I also have some administration skills, and my server has a traffic flatrate, even though the bandwidth might get limited. That could maybe get useful, in the future.

I have much free time, so if you need sth. I will see what I can do. :smiley:

[2016-02-15 16:21] FrikFry commented on #1
I can volunteer to help out as well. I've got decent webdev experience and some server administration experience as well. Happy to help out wherever hands are needed.

[2016-02-15 16:33] ghost commented on #1
@ThomasKerman, @FrikFry

I sent your invites.

[2016-02-15 16:34] ProbusThrax commented on #1
I am willing to help monetarily.  Hopefully I can cover a month each year if its not too much.

[2016-02-15 16:34] GenPage commented on #1
Throwing myself out there as volunteer. I have ample system administration and development experience.

[2016-02-15 16:36] bookt-jacob commented on #1
Can help with server admin, development, DB, and architecture.  Let me know.

[2016-02-15 16:47] bgse commented on #1
@phmayo What are the spec requirements for a content mirror?

Have to check, but I _might_ be able to make a small vServer instance available quickly this week (and provide admin level access to the container), but it will definitely not be able to stand against a full-scale assault of mod-crazy Kerbals on its own.

[2016-02-15 16:48] ghost commented on #1
We don't know yet. #2 is the go to point for mirroring.

On its own, KS sucked about about 20TB/month at its peak.

[2016-02-15 16:52] GenPage commented on #2
I can provide rudimentary mirrors through DigitalOcean in all regions at no cost.

[2016-02-15 16:58] ghost opened #3 "(Re)Branding"
Domains, artwork, and whatnot.

[2016-02-15 17:01] ghost opened #4 "Spacedock/KS-Reborn Communication methods."
Obviously, here. But we'll need our own means of communication, instead of spamming the CKAN IRC all the time.

~~IRC: TBD~~ esper.net #spacedock is live.

[2016-02-15 17:14] StollD commented on #4
I think IRC is all we need. We'll have fluid communication and with some fellow bots we even have tell commands to leave messages to users who are offline at the moment.

[2016-02-15 17:22] ghost commented on #3
kspstuff.com won, at least for now.

[2016-02-15 17:22] #3 closed, assigned to nobody

[2016-02-15 17:24] FiiZzioN commented on #1
Sure, I'll see what I can do.

[2016-02-15 18:03] Olympic1 commented on #1
I volunteer. I've got experience with HTML and CSS and also some server administration. Ready to help :smile:

[2016-02-15 18:03] Vekseid commented on #1
@phmayo I could handle about half of that, or the entire thing for a short period.

[2016-02-15 18:04] ghost commented on #1
Vekseid, keep tabs on #2 Data Mirroring.

[2016-02-15 18:10] Vekseid commented on #2
I can throw several TB/month into the pool.

[2016-02-15 18:34] EIREXE commented on #1
As you know i'm already working on getting the site up in VITAS' server, I have a lot of experience with the KerbalStuff code as I run a site based on it (modulous.net)

[2016-02-15 18:45] kaptain-kavern commented on #4
While i was active in the Rimwold modding  Community, we put a _slack.com space_ in place and find it very useful for organisation/communication between modders. I think the whole modding community still continue to use it

Just my 2 cents

---

I have used something [like that](https://levels.io/slack-typeform-auto-invite-sign-ups/) (or [this one](https://github.com/rauchg/slackin)) in order to m

[2016-02-15 18:46] sharksharkco commented on #1
Saw it was covered but thought I'd offer my front-end support anyways. Let me know if anything is needed! Personally I always thought the design could've benefitted from a little clean up.

[2016-02-15 18:49] ghost commented on #1
@sharksharkco Our fork of the KS site code is here, if you want to contribute something (even if it's just an issue!): KSP-SpaceDock/KerbalStuff

[2016-02-15 18:50] sharksharkco commented on #1
@phmayo roger that, thanks

[2016-02-15 19:03] ghost commented on #4
what's the benefit of slack.com? It looks more like something we could use for team communication, rather than as a channel to talk to users / modders.

[2016-02-15 19:46] SpaceTeph commented on #2
Linux distros use rsync for mirror synchronization - here is how [Arch Linux](https://wiki.archlinux.org/index.php/DeveloperWiki:NewMirrors) does it. Something similar to the process they use could enable about anybody willing who has a HTTP server running somewhere to donate bandwidth and storage, which at times is easier than donating money.

[2016-02-15 20:02] NecroBones commented on #1
I just spotting the shut-down announcement, and saw this project mentioned as well. I'm totally willing to help. It was hosted on Linode, yes? I'm a linux admin, out in the real world, in case those skills are helpful.

EDIT: Also, in the short term if it would help at all, my mods are hosted on my own website as well and could have the download links pointed there from CKAN.

[2016-02-15 20:24] pjf commented on #2
I have to run and give a talk, but the [Internet Archive](https://archive.org/) is happy to host _freely distributable_ content on their servers, which includes all FOSS/CC licensed KSP mods. They have an S3-alike API that's [described here](https://git-annex.branchable.com/tips/Internet_Archive_via_S3/).

Yes, the Internet Archive is super-awesome. <3

[2016-02-15 20:53] ghost commented on #2
I can donate some of my bandwidth for a mirror. I can't promise much speed. But I am willing to help.

[2016-02-15 21:13] ghost commented on #1
i would like to provide a mirror. And any other help, if i can.

[2016-02-15 21:27] EIREXE commented on #1
I won't work on the server anymore, I can contribute code though.

[2016-02-15 21:37] NecroBones commented on #2
Internet Archive might be really great for this.

For our own mirroring options, I can spare some bandwidth too. Not on the order of what KerbalStuff was using by itself, but I have unused quota each month on my hosting, since my own websites use less than 5% of what I'm permitted, last I looked. If we get enough mirrors involved, each one's bandwidth requirement would be fairly small.

[2016-02-15 21:38] politas commented on #1
I'm happy to help as much as I can. Don't think I can contribute much at this stage, but am happy to throw a regular cash contribution once a system is set up.

[2016-02-15 22:11] ghost opened #5 "File Hosting"
Get files hosted, so CKAN works again.

[2016-02-15 22:11] ghost opened #6 "Website Online"
Get the website up and working.

[2016-02-15 22:12] ghost opened #7 "File Pruning"
Prune the files stored and remove non-redistributable mods.

[2016-02-15 22:12] EIREXE commented on #5
if there's a database dump I could setup this in a day, where is it?

[2016-02-15 22:12] ghost commented on #5
Not here yet.

[2016-02-15 22:13] EIREXE commented on #5
Alright let me know, because I already know how I will do it, I just need a server and a day.

[2016-02-15 22:13] ghost commented on #5
Welp: http://kerbalstuff.com/kerbalstuff-public.sql

[2016-02-15 22:16] StollD commented on #7
With the database file provided by SirCmpwn it should be easy to write a script that removes mods who have a license / puts them into a .txt so that we can inform the authors if they ask.

We shouldn't delete the mods, but keep them unaccessable, so that when the author lost the code, but he gives us his OK, we can reupload it.

[2016-02-15 22:17] EIREXE commented on #5
So I assume this is just the database with the mod entries correct?, i'll work on it tomorrow.

[2016-02-15 22:18] ghost commented on #7
All right, good idea.

@EIREXE, can you do that as you do #5?

[2016-02-15 22:18] ghost commented on #5
yeah, that's from Kerbalstuff. It should be missing PII.

I'll download it, so we have a copy available.

[2016-02-15 22:20] EIREXE commented on #5
Alright, so here's my plan:
To get up and running quickly, we'll create a new site that temporaly accepts the requests that ckan did to kerbalstuff, but it will just be that, a server for downloads, it will accept the same URL format as kerbalstuff, it won't be the full page, just a temporary solution for downloads.

[2016-02-15 22:22] EIREXE commented on #7
If you can provide a list of free licenses used in KS yes.

[2016-02-15 22:23] ghost commented on #5
All right. Once we have an idea how long it'll take to get a proper site going, we will do a sunset on the temporary site.

[2016-02-15 22:24] ghost commented on #7
https://opensource.org/licenses/alphabetical <- will that work?

[2016-02-15 22:29] Olympic1 commented on #7
These were the license used by KS
- MIT
- BSD
- GPLv2
- GPLv3
- LGPL
- Other

[2016-02-15 22:32] ghost commented on #7
Well, anything with "Other" needs to be dumped. I'll poke at the SQL as well, but on the morrow.

[2016-02-15 22:35] NecroBones commented on #7
I'd be hesitant to drop "other". All of my mods (for example) used "other" because they were using Creative Commons, which wasn't in the list. CC is perfectly fine to distribute. I'd rather see a list of what was put in the "other" field and see if we can reasonably filter on that first.

[2016-02-15 22:36] Preliator commented on #1
What about the server? I have a little unused full-managed at low cost (get with discount) with a serious italian host (server are in German). If upgrade are needed I can try to talk with them to upgrade at reasonable price. The problem is that I work hard (10-12hours/days) so I don't have much time but to help Ksp community I am here to help.

forum.kerbalspaceprogram.com/index.php?/profile/96497

[2016-02-15 22:38] ghost commented on #1
Well, VITAS from CKAN is working on getting his server set up, but we will be in touch, @Preliator. Thanks for all y'alls offers.

[2016-02-15 22:38] ghost commented on #7
That's what I mean. Dumped, rather than pruned. My bad!

[2016-02-15 22:39] politas commented on #7
Yeah "Other" would need to drop through to a second-level check for "Creative Commons" or "CC" or "WTFPL" for a start.

[2016-02-15 22:39] ghost commented on #7
Indeed. It means human review.

[2016-02-15 22:40] NecroBones commented on #7
Whew, glad I misread that. :)

[2016-02-15 22:40] ghost commented on #7
:D

[2016-02-15 22:48] politas commented on #7
Hopefully the new site can support a more comprehensive list of licences, to standardise the names, if nothing else. The CKAN spec schema has a pretty good list, which would help with integration.

[2016-02-15 23:09] jkoritzinsky commented on #4
My 2 cents: Slack is amazing.  I use it for one of the orgs I'm in and at my job and I love it. Its mobile clients are really good too.

[2016-02-16 01:07] TN-1 commented on #1
Im happy to volunteer as a community ambassador if you still have the need

[2016-02-16 05:31] ILM126 commented on #1
I'm happy to be either the community ambassador and/or programmer. I have experience with HTML/CSS and a tiny bit of JavaScript. PHP is not strong, but I think I can cope.

Currently I'm just working on the finishing touches of a KSP magazine called, The Kerbol. It is only the first issue and more stuff will be added in the future. Here's a small preview, [The Kerbol](http://imgur.com/gallery/GPNh

[2016-02-16 07:01] inigma2 commented on #7
pjf from CKAN has meta data and a list of which mods are re-distributable on his end and he is making those available on CKAN. i recommend Space Dock start with no mods, force authors to re-register and re-upload. Start fresh. Or else we'll have a mess on our hands.

[2016-02-16 08:24] StollD opened #8 "KerbalStuffBot"
We need to create a new user account that can submit pull requests with .netkan files to CKAN as long as the user wants this.

I will take care of it in a few hours so this issue is just here to keep you informed.

[2016-02-16 12:04] Ristellise commented on #1
Count me in for python code!

[2016-02-16 12:05] Ristellise commented on #1
I will be also hosting a github page for all the mods in one place.

[2016-02-16 13:12] Ristellise commented on #2
github pages can store it well
EDIT: will be hosting all OLD downloads on github so stay tuned.

[2016-02-16 13:36] ghost commented on #7
We have some data available: We can map (at least some) forum usernames to (all) uploaded mods, and their respective licenses.

I'll commit a CSV containing this data Shortly(tm).

[2016-02-16 13:48] ghost commented on #7
Commit 68bf7b4

[2016-02-16 14:01] EIREXE commented on #5
Do we still need the transitional server? I read some stuff in the other issues, if so then I can get to work on it.

[2016-02-16 14:09] EIREXE commented on #4
I would rather use discord tbh, it's basically a better slack.

[2016-02-16 14:14] ghost commented on #5
I would say so. We need at least the website functional again.

[2016-02-16 14:17] EIREXE commented on #5
the transitional server is for ckan

[2016-02-16 14:20] ghost commented on #5
Well, yeah. However, we cannot provide all the mods to CKAN just yet.

[2016-02-16 15:14] NecroBones commented on #2
I took a look at my Linode account, and I'd have to increase my plan to have enough disk storage for all of the current file data (since there's 62 GB of it). In terms of monthly bandwidth allowance, I have tons of room to spare. It's the disk that's really tight. I'll hold off from doing anything until we know whether we need the mirrors.

[2016-02-16 16:34] ghost opened #9 "Website Offline!"
We are in the homestretch, working out the kinks in the front end.

As soon as we are ready to go public, we will Close this issue, and we can focus on improving the site, and worry about getting redundant infrastructure going.
# To be done:
- [x] get user reg working
- [X] get mod up/dl working

[2016-02-16 17:23] ghost opened #10 "Set up IRC"
Configure the IRC channel properly.

[2016-02-16 17:50] GenPage commented on #10
Discuss about Op/Voice/Members. Maybe GH team members be voiced?

[2016-02-16 18:01] Olympic1 commented on #10
Give op status to the important people (server hosts, owners, lead dev), and give voice to the others from the GH team.

And it's always handy to add a bot to the channel

[2016-02-16 18:29] StollD opened #11 "Design questions"
We need a new Icon for SpaceDock, I wouldn't continue to use the old one, if we already change the name. Maybe a little spacedock that orbits a planet, and that with some kind of comic style? Also, I would like to suggest a little color change (green bar at the top), to make it a) different from KerbalStuff and b) to align with the Space\* name. Maybe use something like a dark blue?

As my graphic

[2016-02-16 18:38] sharksharkco commented on #11
I'd be happy to help out. I'll draw a few things up

[2016-02-16 18:45] NecroBones commented on #11
I can try drawing some things up too.   EDIT: I probably won't have time right away though, so don't let me hold anyone up.

[2016-02-16 18:51] sharksharkco commented on #11
I'd say more the merrier, quick vote if needed. Badabing

[2016-02-16 18:54] ghost commented on #10
@ThomasKerman Can you get the IRC bot to work for this repo, as well?

[2016-02-16 18:55] inigma2 commented on #11
http://i.imgur.com/MvlGupK.gif Kerbal at work. recommended for maintenance page. courtesy sharksharkco

[2016-02-16 18:55] ghost commented on #11
A logo for the whole organization would be cool to have, too.

[2016-02-16 18:56] inigma2 commented on #11
logo needs to be kerbally somehow. i suggested jeb in foreground, space station in back ground orbiting planet.  Thomas suggested just a spacedock in orbit.

[2016-02-16 18:56] inigma2 commented on #11
perhaps a Rune-style wheel space station with stock parts?

[2016-02-16 18:57] sharksharkco commented on #11
@phmayo SpaceDock is the relaunch, right? What's the organization - KS Reborn?

[2016-02-16 18:57] sharksharkco commented on #11
@inigmatus love the rune idea, put a little POWA behind it

[2016-02-16 18:58] inigma2 commented on #11
http://i.imgur.com/uyZ2AVU.png one example... we'd have to get permission of course. Let me hit him up for that.

[2016-02-16 19:02] inigma2 commented on #11
pm posted. wait and see. He's in Spain so hopefully I've caught him in time.

[2016-02-16 19:08] inigma2 commented on #11
u know, I did make this at one time: http://i.imgur.com/tG2o9rE.png

and http://i.imgur.com/y8xwyd7.png

[2016-02-16 19:24] dries007 commented on #2
I'm offering up part of my unlimited 250 mbit dedicated in Europe (its in Roubaix, France).
It only has 3x 110gb SSD's, so I can't provide a full mirror (there is other stuff running, mostly minecraft servers), but its still might come in handy.

[2016-02-16 19:41] GenPage commented on #11
A logo like NASA or PASA with @inigmatus example of a space station would be :+1:

[NASA example](https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/1237px-NASA_logo.svg.png)
[PSAS example](https://avatars0.githubusercontent.com/u/3676826?v=3&s=200)

[2016-02-16 19:50] sharksharkco commented on #11
Nice, I was thinking along those lines too! I'm cooking a few up right now i'll post a board of a few options in an hr or two.

[2016-02-16 19:52] sharksharkco commented on #11
My focus has been SpaceDock atm, what's the organization part?

[2016-02-16 19:58] GenPage commented on #11
I think that requires more input/discussion. Should the overall org name still be KerbalStuff-Reborn? I do not really think so. While the application is SpaceDock, I believe the org name should be something else. @phmayo

[2016-02-16 20:05] sharksharkco commented on #11
Gotcha. KerbalStuff Reborn Collective - KSRC an idea

[2016-02-16 20:24] EIREXE commented on #9
Doesn't mod upload work already? as far as i know it's not disabled in the source code.

[2016-02-16 20:25] ghost commented on #9
Dotting is, crossing ts.

[2016-02-16 20:26] ghost commented on #11
@GenPage: The organization is KSP-SpaceDock. The repo is KS-REborn, but we should sunset this once we are going.

[2016-02-16 20:29] inigma2 commented on #11
Rune has given us permission for any of these:

http://imgur.com/a/Lyhzk

[2016-02-16 21:12] sharksharkco commented on #11
Got held up a bit at work didn't get to concentrate as much as I wanted to, worked on a few quick concepts/colors, going to spend more time after work and incorporate a circular 'badge' direction one as well. Any thoughts are welcome.
http://sktk.us/db/RoundOne.png

[2016-02-16 21:49] inigma2 commented on #9
Nearly ready to launch. Fixing up little things. Turning on lights. Listening to the hum of the engine. Drawing straws for various items. Ordering champagne. Readying our minds to receive bug reports.

[2016-02-16 22:04] NecroBones commented on #11
Nice! That's a great start, I like those. I tried one simple design so far and it turned out awful. :)

[2016-02-16 22:35] NecroBones commented on #1
Let me know if there's anything else I can do. Linux+Perl dude here. I also torrented the mods, and have left it seeding since (for now).

[2016-02-16 22:44] ghost commented on #9
And we are go.

[2016-02-16 22:44] #9 closed, assigned to nobody

[2016-02-16 22:55] NecroBones commented on #6
FYI, it looks like account activation emails might not be going through.

Do we want to start another thread for bug reports, and perhaps a separate one for enhancement ideas?

[2016-02-16 23:12] Ristellise commented on #6
Separate would be good.

[2016-02-16 23:13] ILM126 commented on #4
@EIREXE So has anyone set up a Discord Server yet? If not, I can do it now.

[2016-02-16 23:14] Ristellise commented on #4
@eirexe
Some dont use discord. Slack would be good.
EDIT: personally do not like discord. Dont wanna bog down my computer either.

[2016-02-16 23:16] ILM126 commented on #4
@Joshwood69 Never used Slack before, but from what I heard. It's close to Discord.

[2016-02-16 23:35] ghost opened #12 "Sunsetting the KerbalStuff-Reborn repo"
With the launch of SpaceDock, it is time to sunset this repository, and transfer everything over to the SpaceDock-Project repo.

[2016-02-16 23:37] Shuudoushi opened #13 "Github repo linking"
^

[2016-02-16 23:38] #13 closed, assigned to nobody

[2016-02-16 23:38] Shuudoushi commented on #13
wrong one again -_-

[2016-02-17 00:21] sharksharkco commented on #11
Here's a progress pic on one concept,
http://sktk.us/db/RoundTwo-OptB-v2.png

[2016-02-17 00:26] Olympic1 commented on #11
Very nice and we can use the left side as icon

[2016-02-17 00:39] bgse commented on #11
@sharksharkco The middle one from RoundOne is a very good idea imho.

[2016-02-17 00:40] ILM126 commented on #11
@sharksharkco That is a good looking design :+1:

[2016-02-17 01:48] Nhawks1717 opened #14 "Website Headers"
Hello you amazing people! I'm currently having trouble uploading headers to my profile and mods. Is this something that hasn't been implemented into the site yet or is it broken? Thanks for any help!

[2016-02-17 01:55] NecroBones commented on #11
@sharksharkco Thumbs up for sure!

[2016-02-17 02:00] NecroBones opened #15 "Account activation emails"
I'll just start a separate issue for this one. I see lots of people have signed up already. My activation email never arrived (and I checked my spam folders). I'm wondering if it's just me that's unlucky, or if this is happening to more people?

[2016-02-17 02:01] NecroBones commented on #15
Also, I tried emailing "support@spacedock.info" as it asks you to do if having trouble, and the message bounced:

support@spacedock.info: host s3n1.52k.de[5.9.16.54] said: 530 Relaying not
    allowed (in reply to RCPT TO command)

[2016-02-17 02:22] brandonwamboldt opened #16 "Setup CloudFlare"
See my blog article for reasons why: https://brandonwamboldt.ca/why-you-should-use-cloudflare-1315/

The base plan is free and will significantly reduce bandwidth costs, increase availability, reduce download times, etc etc. If you guys want, I'll happily donate the pro plan ($20/month), just reach out to me directly to coordinate (brandon.wamboldt@gmail.com). If you guys decide to go with the fre

[2016-02-17 02:23] Ristellise commented on #4
@ILM126 cannot comfirm but slack is very good. There are integrations and various things among things that you can do with it.

[2016-02-17 02:23] Ristellise commented on #4
Slack is also free.

[2016-02-17 02:26] ghost commented on #4
Can you give some examples regarding integrations?

@ILM126 as well.

I know nothing about either option.

On Tue, Feb 16, 2016, 9:23 PM Joshwoo69 notifications@github.com wrote:

[2016-02-17 02:27] jkoritzinsky commented on #4
Some examples: GitHub commit and pr info. Calendar integration. There's a list here: https://slack.com/apps

-----Original Message-----
From: "phmayo" notifications@github.com
Sent: ‎2/‎16/‎2016 8:26 PM
To: "KSP-SpaceDock/KerbalStuff-Reborn" KerbalStuff-Reborn@noreply.github.com
Cc: "Jeremy Koritzinsky" jkoritzinsky@gmail.com
Subject: Re: [KerbalStuff-Reborn] Spacedock/KS-Reborn Communication meth

[2016-02-17 02:28] brandonwamboldt commented on #2
I have 500GB of hard drive space with a 1gbps uplink on a dedicated server (with CloudFlare as a CDN in front of it). Would love to help out as well.

[2016-02-17 02:34] ghost commented on #15
I don't know if darklight is still awake, but if you hop on our IRC
channel, he can manually activate your account.

On Tue, Feb 16, 2016, 9:01 PM NecroBones notifications@github.com wrote:

[2016-02-17 03:30] sharksharkco commented on #11
Here's an updated concept bit cleaned up with two shape options and the blank option, and one example of a color scheme paired with it (for the site)

http://sktk.us/db/RoundThree-OptB.png

[2016-02-17 04:07] kaptain-kavern commented on #11
Hey nice logos @sharksharkco! I like the C. With the little Rocket ;-)

[2016-02-17 04:22] TN-1 commented on #11
Nice work! I too like C

[2016-02-17 04:23] Olympic1 commented on #11
idem

[2016-02-17 05:02] sebneira commented on #2
I'll be working on the best solution for this case, as it seems that we have lots of people willing to offer mirrors + the Internet Archive.

@phmayo have you come to any conclusions?

[2016-02-17 05:35] StollD commented on #4
While Slack and Discord are really nice, we don't need it. IRC can be configured to put out commit and pr info, and it is already there / popular. Also, we are already spamming GitHub with our discussion, as I got 60 emails overnight.

[2016-02-17 05:49] StollD commented on #11
I also support Nr.3. If VITAS has no problems with it, we should use it as the official Icon / Logo.

[2016-02-17 05:51] StollD commented on #12
Or we just delete the other one and rename this repo ;)

[2016-02-17 05:52] StollD commented on #14
The site is still Work in Progress, we are working on it. Closing this since we already have an issue for this at our KerbalStuff fork.

[2016-02-17 05:52] #14 closed, assigned to nobody

[2016-02-17 05:57] StollD commented on #15
It is a known issue and we are working on resolving it. Your error message might be useful for VITAS to troubleshoot the problem. While this happens, darklight, me and I think some others too (dunno, was away while that happened) have Admin access to the site and can activate you manually.

[2016-02-17 06:21] Ristellise commented on #12
Yeah we shoulb.. but move over... a bit difficult

[2016-02-17 06:34] inigma2 commented on #11
I like C as well.

[2016-02-17 07:05] Ristellise commented on #11
C will be my choice too... would prefer 2 ships docking as an option...

[2016-02-17 08:21] sebneira commented on #16
I would consider the idea for static files as images and js -- but as far as using CDNs for the mod files, I'm not really sure about that. My concerns are the following:
- Size
- People's files being elsewhere
- Little to no control over the distribution

Another concern I'm having is that traffic is directed _through_ cloudflare, which makes me want to shiver. How safe is that? How much and what

[2016-02-17 08:24] sebneira commented on #11
@sharksharkco Could you try a version without the dots inside the trail? I feel the asymmetry there is not helping on the overall feel.

Other than that, really good work!

[2016-02-17 10:12] Ristellise opened #17 "All old downloads"
I sent the whole chunk of the torrent and put it to github:
_Link removed due to copyright infringements_
For permission I know that some do not allow redistribution but for the sake of the community I have put everything on it git.
You are allowed to have direct link to the zips.

EDIT: if you want me to pull down something tell me.

[2016-02-17 12:28] ghost commented on #12
@ThomasKerman Welp, I forgot that you could do that. Done. :D

[2016-02-17 12:28] #12 closed, assigned to nobody

[2016-02-17 12:29] ghost commented on #16
On the upside, we get fast-ish servers all over the world, which will make both Australian KSP players happy.

[2016-02-17 12:30] #17 closed, assigned to nobody

[2016-02-17 12:36] ghost commented on #2
Using the IA requires work on the backend, either the website, or an uploading cron job. @ThomasKerman and VITAS have plenty to do as it is for the moment.

So, much as I want this, we need to focus on getting an easy way for mirrors to be activated and made available first, preferably without any impact on CKAN at all. If that isn't possible, well, we'll deal with that when it's time. Making SD r

[2016-02-17 12:44] StollD commented on #17
Please take down this repo or prune the mods with restrictive licenses. We don't want to deal with copyright infringements and we respect the licenses of the modders.

That's why I'm removing the link from the text.

[2016-02-17 13:00] brandonwamboldt commented on #16
@Sikian One of the benefits of CloudFlare is you host the files on your server and CloudFlare transparently caches that for a configurable TTL.

Also I advise you to look into CloudFlare, as they seem to be a genuinely "good" company. They make their money from bigger customers. They don't snoop on traffic. They introduced a free SSL program so any site they host can get SSL setup. CloudFlare is u

[2016-02-17 13:22] sharksharkco commented on #11
Hey everyone, thanks for the comments! I'll throw out a round four this afternoon with a few more options/tightening things up, possibly one more color combination.

I made a quick screenshot of how that color/logo combo may be applied to the current header, http://sktk.us/db/Screen%20Shot%202016-02-16%20at%2011.04.56%20PM.png

[2016-02-17 14:13] NecroBones commented on #15
Darklight activated me, so we're all good. Let me know if I can help troubleshooting the mail routing. I run my own mail server at my end, and the logs don't show any delivery attempt that I can match to the expected activation email, so it either didn't send, or there's a relay involved that's not routing the mail properly. For the reverse direction, with the error above, you'll typically see tha

[2016-02-17 14:48] sebneira commented on #2
@phmayo just had a conversation with VITAS and got to a pretty nice design for the solution plus the fact that it's not a priority. I'll get a workflow during the next days.

Will look into SyncThing, thank for sharing!

[2016-02-17 14:52] sebneira commented on #16
@brandonwamboldt sounds pretty good, I'll take a look!

I'm pretty sure the team is up for Cloudflare on the website :)

[2016-02-17 16:00] StollD commented on #11
While I like the logo, I don't think that the gradient fits very well. I would rather like to keep the solid color. Also, we should probably consider doing just a logo, without the name, as the name is already there (which can be changed though)

[2016-02-17 16:03] inigma2 commented on #11
i like the gradient, but only if it was reversed dark to purple or just mostly the blue and less purple. the logo and name should be separate graphics so either can be used.

[2016-02-17 16:03] NecroBones commented on #11
That's a good point, I'm assuming the logo has transparency to sit over the gradient? That would be ideal. I like the gradient, but I'm good with other colors too. Either way. :)

[2016-02-17 16:11] sharksharkco commented on #11
Whatever the final design is I'm going to create a whole collection of assets; from horizontal to vertical configurations, to just the emblem, just the text, svg version, high-res print version, icons, a flag for KSP. Hell I'll even separate the colors for screen-printing. The wyrks.

I can find a font that would be similar so we can use live text, although using an image is absolutely fine.
https

[2016-02-17 16:13] inigma2 commented on #11
I'm adding sharksharkco to the roster as Graphics Designer

[2016-02-17 16:16] inigma2 commented on #11
also, any possible way we could incorporate these into possible rotating backgrounds either on the main page or fail pages?

http://i.imgur.com/jdclbZN.png  - Circular Station and Ship by Rune
http://i.imgur.com/y8xwyd7.png - ISS-type station and stock Space Shuttle by inigma

[2016-02-17 17:01] GenPage commented on #16
Can confirm we use CloudFlare at DigitalOcean. Great team and service. :+1:

[2016-02-17 17:35] NecroBones commented on #2
rsync is pretty easy of course. Another possibility is to roll our own process to push out whole files when new ones are added, and nightly (or every 48 hours or whatever) rsync to catch anything that was missed/dropped.

[2016-02-17 17:44] ghost commented on #16
+1 For CloudFlare

[2016-02-17 17:46] #7 closed, assigned to nobody

[2016-02-17 17:46] #6 closed, assigned to EIREXE

[2016-02-17 17:57] ghost commented on #4
VITAS is setting up a mattermost.org instance for us. It's slack, but open source and under our control.

[2016-02-17 17:57] #4 closed, assigned to nobody

[2016-02-17 19:12] oliverde8 commented on #2
Hi you might wish to check https://about.maniacdn.net/ it is a community driven cdn built for another game.  and the sources are public. It uses rsync to sync the files. Anyone can contribute with their server.

[2016-02-17 19:17] ghost opened #18 "Project Email and Email Distribution Lists."
So we can register accounts in the name of the project, and not ourselves.

[2016-02-17 19:24] dries007 commented on #2
How about [web caching](https://serversforhackers.com/nginx-caching/), a solution that requires no control over the mirror server, and requires no cronjobs or daemons?

[2016-02-17 23:07] Ristellise commented on #17
Okay will be remove those that are found in the list.

[2016-02-18 00:15] RealKolago opened #19 "Title pictures for mods"
On the old KS site were mod title pictures uploaded by the mod creators. For the moment these are gone. But if you bring back these I have a suggestion:

On KS these pictures were sometimes huge and take a long time to load.
To speed thinks up consider to scale same down to the size needed on the front page.

[2016-02-18 00:24] NecroBones commented on #19
We're discussing this over in the KSP-SpaceDock/SpaceDock issues too.

[2016-02-18 00:48] kaptain-kavern commented on #4
I don't know that soft. Looks promising ...

[2016-02-18 01:01] sharksharkco commented on #11
Hey everyone, I've touched on some of your comments in this next round. Also worked on some different color combinations.

http://sktk.us/db/RoundFour-OptB.png
http://sktk.us/db/RoundFour-Optb-Colors.png

[2016-02-18 01:20] ghost opened #20 "Flash blocker keeps warning of flash on pages"
Some pages seem to trigger my flash blocker.  The last one was the SpaceY Expanded mod page.

Looking at the source, I can find no flash components.    Any ideas what could be triggering this?

The pages with even with flash disabled.

[2016-02-18 01:41] TN-1 opened #21 "PR"
Would it be possible to give the members of the PR team collaborator status on the repos so that we can manage issues(Assign labels,  etc)

[2016-02-18 01:42] ghost commented on #21
Sure!

[2016-02-18 01:43] ghost commented on #21
Done!

[2016-02-18 01:43] #21 closed, assigned to nobody

[2016-02-18 01:58] TN-1 commented on #21
Thanks!

[2016-02-18 02:26] Ristellise commented on #17
UPDATE: took down all those that are in the list. Ready to fix it too..

[2016-02-18 02:40] ILM126 commented on #11
C, D, or F for Option B
And for the colour option, blue.

[2016-02-18 02:43] ILM126 commented on #4
@phmayo Oh? Where will it be hosted then?

[2016-02-18 02:55] Olympic1 commented on #19
Moved to KSP-SpaceDock/SpaceDock/issues/25

[2016-02-18 02:55] #19 closed, assigned to nobody

[2016-02-18 03:12] NecroBones commented on #20
Maybe imgur albums are causing it? Not sure.

[2016-02-18 09:00] Ristellise commented on #11
Color is blue
I liked the last one. Looks like a station. With a rocket docking it.

[2016-02-18 10:56] sebneira commented on #2
The main concern here is the following: anyone can poison files with ease, as these are not signed.

@dries007 I don't believe that would be a solution as it wouldn't help with transfer bandwidth nor having distributed data in case of failure.

[2016-02-18 11:01] TN-1 commented on #11
F and blue or the first purple.
Very nice work @sharksharkco!

[2016-02-18 11:23] dries007 commented on #2
Well, you are setting up a deliberate man-in-the-middle structure, but how hard would it be to add hashes to the page to so at least people who want to can check them, that is if you are only serving the download files out of the CDN and not also the main page.

@Sikian I disagree, I'll be using nginx as an example here, but I'm pretty sure you'd be able to apply this to most web server software:

[2016-02-18 13:06] ghost opened #22 "PGP-based Signing and Verification of Packages"
Distributed file hosting has many benefits (see #2), but it also has a downside: every mirror can tamper with files.

To maintain integrity (and make it easier for users to trust the mirrors), we should provide for the ability to sign a mod after it is uploaded, and before it is distributed. This way, users and CKAN can verify that the package has not been tempered with, and contains what the pack

[2016-02-18 13:18] Aqua-KSP opened #23 "Inconsistent linebreak behavior in mod description text box"
When first writing in the description text box there's no automatic linebreak.
https://i.imgur.com/4nGAFjX.png

After setting up other stuff I returned to edit the description again and now there's an automatic linebreak (which doesn't do a good job).
https://i.imgur.com/BcClOZ3.png

Browser: Internet Explorer 11 (11.0.9600.18205)

[2016-02-18 13:22] ghost commented on #23
Since the description uses Markdown, and markdown ignores single line breaks, **and** linebreaks in textboxes are browser dependent:

Closed as wontfix.

Please reopen this issue when you have issues with the description as a visitor to your mod's page would see it.

[2016-02-18 13:22] #23 closed, assigned to nobody

[2016-02-18 18:09] oliverde8 commented on #2
@dries007 Not really the bandwith issue is about the network, you server would still need to answer to the same quantity of request and send the same amount of data.

@Sikian I understand I am a trusting person but I can see where that would be going

[2016-02-18 18:18] dries007 commented on #2
@oliverde8 If multiple people have multiple caches running, you can distribute the load and the main server would only have to supply the user specific data, and new files the cache doesn't have yet.
This is basically what cloudflare does right? Except that we know better what files are long term cache-able, and which ones are session/page-view specific.

[2016-02-18 18:25] kaptain-kavern commented on #11
C/F and blue for me too :+1:

[2016-02-18 18:33] brandonwamboldt commented on #2
@dries007 FYI you can configure caching rules in CloudFlare to tell it what to store short term or long term (it will listen for standard cache control headers).

[2016-02-18 18:34] dries007 commented on #2
@brandonwamboldt  I thought that was premium only, good to know.

[2016-02-18 18:38] inigma2 commented on #11
F and blue here.

[2016-02-18 18:43] brandonwamboldt commented on #2
@dries007 There is a limit for the free account (although it will always follow cache headers so you can just set it up via Nginx/Apache). However, if SpaceDock goes with CF I've volunteered to sponsor the premium plan.

[2016-02-18 18:52] NecroBones commented on #11
Man, they all look nice. I think I like F the best though. And on colors, I think I like blue the best, but I'd say my least favorite is the bright non-gradient orange. All of the others look pretty good to me.

[2016-02-18 19:02] ghost opened #24 "Transfer of Copyrights"
I transfer the copyright to all my contributions to the SpaceDock project.

In turn, I want my name removed from official documents (for ex. LICENSE), as I do not want to be associated with a project that is willing to tolerate abusive behavior.

[2016-02-18 19:47] NecroBones commented on #24
What happened?

[2016-02-18 19:48] ghost commented on #24
I want to protect the guilty, to be honest. I do not want to cause grief. Just want to be done.

[2016-02-18 19:52] sharksharkco commented on #11
Alright I think we're getting there! Here are some font choices
http://sktk.us/db/Fontchoices.png

[2016-02-18 20:03] DuoDex commented on #11
I think those look a little busy for logos, KS's was very recognizable without being too detailed. Let me try and whip something up myself.

[2016-02-18 20:17] sharksharkco commented on #11
Here's a simpler one too http://sktk.us/db/V5.png
could loose the ship even further

[2016-02-18 20:26] godarklight commented on #24
http://pastebin.com/uG5ni67A happened. If you want to contribute more than a code of conduct without telling anyone next time, you've very much welcome back with us :)

[2016-02-18 20:26] #24 closed, assigned to nobody

[2016-02-18 20:27] ghost commented on #24
The pull request was sitting around for a couple of days before it got
merged.

On Thu, Feb 18, 2016 at 3:26 PM Christopher Andrews <
notifications@github.com> wrote:

[2016-02-18 20:50] NecroBones commented on #24
Yeah, it's a prickly situation for sure. I understand both sides of the argument. In other organizations I've been involved with, it's often come down to a sense of "scope" about the purpose of the organization, how members interact with each other, and what the interaction with outsiders will entail. Being a software project, the rules probably need to focus more on how code is contributed and th

[2016-02-18 21:24] DuoDex commented on #11
Can you give an Inkscape file of that? I'd like to mess with it further because it looks so good :+1:

[2016-02-18 21:46] ghost commented on #11
OK here is my ever expanding logo idea page
coming next 3D rendered station! http://imgur.com/a/ZT73Y

[2016-02-18 22:03] inigma2 commented on #11
Wanted to add http://i.imgur.com/MvlGupK.gif as a temp maintenance gif asset if ever needed.

[2016-02-18 22:20] #8 closed, assigned to StollD

[2016-02-19 10:22] Olympic1 commented on #10
Closing as everyone got their Op/Voice status and the bot was configured

[2016-02-19 10:22] #10 closed, assigned to nobody

[2016-02-19 10:27] TN-1 commented on #10
I didnt get voice

[2016-02-19 14:00] NecroBones commented on #10
I can connect and type, dunno if I need anything else. ;)

[2016-02-19 15:14] StollD commented on #20
If your flash blocker triggers, even with flash disabled, it's not an issue on our end. Closing this one. :wink:

[2016-02-19 15:14] #20 closed, assigned to nobody

[2016-02-19 17:10] inigma2 commented on #11
inigma's KISS approach to logo design: http://i.imgur.com/R461qxa.jpg

[2016-02-19 17:35] sharksharkco commented on #11
Hi everyone, we've entered the final round for logos. Please vote from this selection! (hover or click image to get name)
https://cloud.52k.de/index.php/apps/galleryplus/s/MNNgLfiUSMEhyJb#

Enter your vote here!

[2016-02-19 17:36] godarklight commented on #11
I like sharkshark-b

[2016-02-19 17:38] StollD commented on #11
I vote for SharkShark-B too

[2016-02-19 17:42] V1TA5 commented on #11
im going with VITAS-3

[2016-02-19 17:43] sharksharkco commented on #11
I vote SharkShark-B

[2016-02-19 17:46] inigma2 commented on #11
I like VITAS-1 aka logo-1, simple elegant, has a pic for the logo, distinct from KS style, and not copyright-prone like my docking port one.

[2016-02-19 17:51] FrikFry commented on #11
:+1: SharkShark-B

[2016-02-19 18:17] GenPage commented on #11
:+1: SharkShark-B

[2016-02-19 18:39] Olympic1 commented on #11
SharkShark-B

[2016-02-19 18:40] overcookedTOFU commented on #11
SharkShark-B looks great to me!

[2016-02-19 18:53] NecroBones commented on #11
SharkShark-B looks good to me.

[2016-02-19 19:53] rkarmark commented on #11
Sharkshark-b is nice

[2016-02-19 22:26] ghost commented on #11
OK a added more to my logo selection http://imgur.com/a/ZT73Y
made some interesting badge type logo's to.

[2016-02-19 22:29] TN-1 commented on #10
True that :p

[2016-02-19 22:31] TN-1 commented on #11
SharkShark-B looks wicked

[2016-02-20 13:18] kaptain-kavern commented on #11
SharkShark-B.

[2016-02-21 06:32] ILM126 commented on #11
Vote: https://www.youtube.com/watch?v=Mh5LY4Mz15o&start=175
(Meant to say, "Vote now on your phones!" If the video doesn't jump)

I vote for SharkShark-B :+1:

[2016-02-21 08:21] jameswolff96 commented on #11
Was confused because it didn't jump to the timestamp, cool video though.

Also SharkShark-B

[2016-02-21 13:05] ILM126 commented on #11
@jwolff52 Yeah, I found it a few hours after it was published. Saw it on DiscordApp's Twitter account
Still can't help myself to watch it again XD

[2016-02-21 13:37] sharksharkco commented on #11
Hi everyone, thank you for your votes poll is now closed. SharkShark-B it is!

[2016-02-21 13:38] #11 closed, assigned to nobody

[2016-02-22 05:08] inigma2 opened #25 "Legal Advice Offer"
from: http://forum.kerbalspaceprogram.com/index.php?/topic/132186-spacedock-dev-thread-the-kerbalstuff-replacement-site-now-live/&page=15#comment-2421176

One and all, I'd like to contribute to this effort.  I have no technical expertise, but I do have LEGAL expertise, as I am graduating law school in 85 days (wow!) and my school has free student-clinic representation for non-profit corporate clie

[2016-02-22 05:14] inigma2 commented on #25
I'm thinking if anything was done, it would have to be entirely pro bono (ie. free). If nothing decided now, then certainly it would be good to keep David as a standby contact should the need arise.

[2016-02-22 05:20] godarklight commented on #25
There's a few problems with this message:

"KerbalStuff failed, ultimately, because of a poor incentive-model (cost of time and money) to update and maintain it." - SirCmpwn made it pretty clear that money wasn't an issue - and afaik he kinda just burnt out on looking after kerbalstuff, especially after some disagreements with other modders. Motivation is probably the biggest driving factor.

"Spa

[2016-02-22 05:53] TN-1 commented on #25
I agree with what @godarklight concluded.

[2016-02-22 06:02] ghost commented on #25
I think we should not go overboard, we are hosting mods for a game with little cartoon like green men.
we are not even charging for use of the site, so any "Legal Advice" would be very simple stuff.

[2016-02-22 06:06] jameswolff96 commented on #25
Another important thing to realize is we are an alternative to, not a competitor with curse. 100% agree with @godarklight.

[2016-02-22 06:09] ghost commented on #25
yeah i agree with @godarklight

[2016-02-22 06:14] Shuudoushi commented on #25
@godarklight does have very good counter points, though having someone with at least legal experience kicking about could help first time modders in picking licenses and help encase of douchebaggery of CR/patent/TM trolls (even though that phase has luckily seemed to have died).

[2016-02-22 06:16] godarklight commented on #25
@Shuudoushi That's more an issue for modders though than for us.

[2016-02-22 06:18] jameswolff96 commented on #25
While having someone like that around would be nice he seems like he has "big ideas" for the project and a lot of the stuff he is talking about seems like a conflict of interest for what the project is (at least in my opinion). It all depends on the type of person he is and if he would be able to, for lack of a better term, "tone it down".

[2016-02-22 11:11] MisterFister2016 commented on #25
Hi, I'm MisterFister from the forums.  Apparently my handle was already taken here...?  Anyway:

"I'm thinking if anything was done, it would have to be entirely pro bono (ie. free). ... then certainly it would be good to keep David as a standby contact should the need arise."  Absolutely pro bono (this is why I mentioned clinics, it's the term for law students practicing certain facets of law und

[2016-02-22 14:02] ethan3369 commented on #25
I may not have any thing to contribute but my opinion but after the shutdown of KerbalStuff I don't want that to have ever again. I think that some amount of legal protection would help in ensuring that SpaceDock stays around forever.

[2016-02-22 20:45] inigma2 commented on #25
I am closing this issue for now. We have the information on file, but at this time we've decided to not pursue this. Thank you!

[2016-02-22 20:45] #25 closed, assigned to nobody

[2016-03-24 13:17] tsal opened #26 "Looking to Help"
I was a bit behind on the community (about a month) and discovered KerbalStuff was down and got as far as kicking the tires on a server instance before discovering this.

Still looking for volunteers? I saw the volunteer issue for triage was locked.

[2016-03-24 13:39] V1TA5 commented on #26
Sure. join us on irc.esper.net #spacedock
you can ask Thomas, darklight or me